PG_PASS={{ authentik_pg_pass }}
AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}
N8N_BASIC_AUTH_USER={{ n8n_basic_auth_user }}
N8N_BASIC_AUTH_PASSWORD={{ n8n_basic_auth_password }}
N8N_BASIC_AUTH_ACTIVE={{ n8n_basic_auth_active }}
N8N_HOST={{ n8n_host }}
N8N_PROTOCOL={{ n8n_protocol }}
N8N_WEBHOOK_URL={{ n8n_webhook_url }}
N8N_TIMEZONE={{ n8n_timezone }}
N8N_SECURE_COOKIE={{ n8n_secure_cookie }}
