OTODOM_KEY={{ our_new_home_otodom_key }}
SLACK_BOT_TOKEN={{ our_new_home_slack_bot_token }}
SLACK_APP_TOKEN={{ our_new_home_slack_app_token }}
SLACK_CHANNEL_ID={{ our_new_home_slack_channel_id }}
POSTGRES_PASSWORD={{ our_new_home_postgres_password }}
